/* 网站主体 */
body {
    margin: 0;
    min-height: 100vh;
}

/* 标准 */
.tag {
    display: inline;

    font-size: 1.5rem;

    color: rgba(0,0,0,1);
    margin: 5px 20px;
}

.headBroad {
    height: 40px;
    width: 100%;

    background-color: rgba(255,255,255,255.5);

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    position: fixed;
    top: 0;
    left: 0;

    display: inline;
}

.title {
    font-style: oblique 60deg;

    white-space: pre;

    text-align: center;

    margin: 24px;

    color: rgba(255,255,255,0.8);
}
.title2 {
    white-space: pre;

    text-align: left;

    text-indent: 0;

    font-size: 3.5rem;

    font-weight: 800;
}

.unLi {
    font-size: 2rem;
    text-decoration: underline;
}
.dividingLine {
    width: 100%;
    height: 4px;

    background-color: rgba(255,255,255,0.8);

    border: none;

    margin: 20px 0;
}

.context {
    color: rgba(255,255,255,1);

    font-size: 1.5rem;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.8;
}

div.para#p1{
    position: relative;

    background: rgba(255,255,255,0.5) center;
    background-size: cover;

    border: rgba(255,255,255,0.5) solid;
    border-radius: 20px;

    margin: 40px;

    padding: 16px 20px;
}
/* 细分 */

div.mainBackBo {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-image: url("assets/RiverMounHor.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
}
div#t21 {
    color: rgba(255,255,255,1);
}

div#t22 {
    color: rgba(255,255,255,1);
}

.title#a {
    margin-top: 50px;

    font-size: 5rem;
    font-weight: 900;

    letter-spacing: 8px;

}

.title#b {
    font-size: 2rem;
    font-weight: 100;

    letter-spacing: 4px;
    
}

div.para#p1 > a {
    display: block;
    width: fit-content;

    font-size: 1.5rem;

    font-style: italic;
    line-height: 2;

    color: rgba(255,255,255,1);
    
    margin: auto;
}