.title#a {
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 8px;
    white-space: pre;
    text-align: center;
}

.title#b {
    font-size: 6rem;
    font-weight: 100;
    font-style: oblique 60deg;
    letter-spacing: 4px;
    white-space: pre;
	text-align: center;
}

div.para#p1 > div{
    font-size: 1.5rem;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.8;
}
#pp1 {
    font-size: 2rem;
    text-decoration: underli;
}
div.para#p1 > a {
    font-size: 1.5rem;
    font-style: italic;
    color: blueviolet;
    text-decoration: none;
}