body {
    background-image: url("assets/BlueSkyHor.jpeg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: top center;
    margin: 0;
    height: 100vh;
}

div.title#a {
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 8px;
    white-space: pre;
    text-align: center;
    color: white;
}

div.title#b {
    font-size: 4rem;
    font-weight: 100;
    font-style: oblique 60deg;
    letter-spacing: 4px;
    white-space: pre;
    text-align: center;
    color: white;
}

div.para#p1{
    background: white center;
    background-size: cover;

    border: black solid;
    border-radius: 25px;

    margin: 20px;

    padding: 10px;
}
div.para#p1 > div {
    font-size: 1.5rem;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.8;
}

div.para#p1 > div > span#pp1 {
    font-size: 2rem;
    text-decoration: underline;
}

div.para#p1 > a {
    font-size: 1.5rem;
    font-style: italic;
    color: blueviolet;
    text-decoration: none;
}