body {
    background-image: url("assets/BlueSkyHor.jpeg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: top center;
    margin: 0;
    height: 100vh;
}

/* 网站主体 */

/* 标准 */
.title {
    font-style: oblique 60deg;

    white-space: pre;

    text-align: center;

    margin: 24px;

    color: rgba(255,255,255,0.8);
}
.title2 {
    white-space: pre;

    text-align: left;

    text-indent: 0px;

    font-size: 3.5rem;

    font-weight: 800;
}

.unLi {
    font-size: 2rem;
    text-decoration: underline;
}
.dividingLine {
    width: 100%;
    height: 4px;

    background-color: rgba(255,255,255,0.2);

    border: none;

    margin: 20px 0;
}

.context {
    color: rgba(255,255,255,0.7);

    font-size: 1.5rem;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.8;
}

div.para#p1{
    position: relative;

    background: rgba(255,255,255,0.1) center;
    background-size: cover;

    border: rgba(255,255,255,0.1) solid;
    border-radius: 20px;

    margin: 40px;

    padding: 16px 20px;
}
/* 细分 */
div#t21 {
    color: rgba(255,255,255,0.8);
}

div#t22 {
    color: rgba(255,255,255,0.8);
}

.title#a {
    font-size: 5rem;
    font-weight: 900;

    letter-spacing: 8px;

}

.title#b {
    font-size: 2rem;
    font-weight: 100;

    letter-spacing: 4px;
    
}

div.para#p1 > div.BaBo#inP1 {
    position: absolute;

    right: 0;
    left: 0;
    bottom: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255,255,255,0.2);
    
	border-radius: 48px;
    border: none;

    pointer-events: none;
}

div.para#p1 > a {
    display: block;
    width: fit-content;

    font-size: 1.5rem;

    font-style: italic;
    line-height: 2;

    color: rgba(255,255,255,1);
    
    margin: auto;
}