body {
    background-image: url("assets/BlueSkyHor.jpeg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: top center;
    margin: 0;
    height: 100vh;
}

div.title#a {
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 8px;
    white-space: pre;
    text-align: center;
    color: rgba(255,255,255,0.8);

    margin: 24px;
}

div.title#b {
    font-size: 2rem;
    font-weight: 100;
    font-style: oblique 60deg;
    letter-spacing: 4px;
    white-space: pre;
    text-align: center;
    color: rgba(255,255,255,0.8);

    margin: 24px;
}

div.para#p1{
	color: rgba(0,0,0,0.9);

    background: rgba(255,255,255,0.2) center;
    background-size: cover;

    border: rgba(0,0,0,0.5) solid;
    border-radius: 20px;

    margin: 40px;

    padding: 16px 20px;
}
div.para#p1 > div {
    font-size: 1.5rem;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.8;
}

div.para#p1 > div > span#pp1 {
    font-size: 2rem;
    text-decoration: underline;
}

div.para#p1 > a {
    font-size: 1.5rem;
    font-style: italic;

    line-height: 2;

    color: rgba(255,255,255,1);
    
    margin: auto;
}